mat-grid-tile {
    background: grayscale($color: #202020);
    border-radius: 6%;
}

div {
    overflow: hidden;
}

.filme-card {
    background-color: grayscale($color: #222222);
    color: white;
    font-size: larger;
    width: auto;
    height: auto;
    padding: 15px;
    text-align: justify;
}
