<html>
    <head>
        <title>Detalhamento do Filme</title>
    </head>
    <br>
    <body>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px grid" fxLayoutAlign="center">
            <ng-container>
                <app-filme fxFlex="0 1 calc(30% - 20px)" fxFlex.lt-md="0 1 calc(20% - 20px)" 
                fxFlex.lt-sm="100%" [filme]="filme"></app-filme>
            </ng-container>
            <div fxLayout="column wrap" fxLayout.lt-md="row" fxLayoutAlign="center" fxFlex="0 1 calc(30% - 20px)" fxFlex.lt-md="0 1 calc(20% - 20px)" 
            fxFlex.lt-sm="100%">
                <div class="filme-card">
                    <ng-container fxLayout="row">
                        <img mat-card-image src={{filme.backdrop_path}} alt={{filme.title}}>
                    </ng-container>
                    <ng-container fxLayout="row">
                        <p>Título Original: {{filme.original_title}}</p>
                        <p>Data de Lançamento: {{filme.release_date}}</p>
                        <p>Descrição: {{filme.overview}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </body>
</html>